<div class="upload-wrap col s12 m10 right">

  <div class="card black lighten-3">

    <div class="card-content white-text">

      <span class="card-title">Upload Image</span>
      <form class="card-action" ng-submit="uploadImage(image)">

        <input type="text" ng-model="image.username" placeholder="Enter Username (delete input later)">
        <input type="text" ng-model="image.URL" placeholder="Enter URL">

        <button type="submit" class = "btn waves-effect waves-light gold">Add</button>

      </form>

    </div>


  </div>
</div>
