<!DOCTYPE html>
<html>
<head>
  <title>IMGRP.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/vendor/normalize.css">
  <link rel="stylesheet" href="css/vendor/materialize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="Images" class="grey darken-1">

  <!-- NAVIGATION -->
  <nav>
    <div class="nav-wrapper black">
      <a href="#/" class="brand-logo">IMGRP.</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#/" class="waves-effect waves-light navlinks grey-text" id="user-name-univ"></a></li>
        <li><a href="#/" class="waves-effect waves-light navlinks">Home</a></li>
        <li><a href="#/upload" class="waves-effect waves-light navlinks">Upload</a></li>

        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#/signup" class="black white-text">Sign Up</a></li>
          <li class="divider grey lighten-1"></li>
          <li><a href="#!" class="black white-text">Manage Profile</a></li>
          <li class="divider grey lighten-1"></li>
          <li><a href="#/about" class="waves-effect waves-light black white-text">About</a></li>
          <li ng-controller="User"><a href="#/" class="waves-effect waves-light black white-text" ng-click="logout()" onclick="history.go(0)" value="Refresh">Log out</a></li>
        </ul>

        <li ng-controller="User"><a href="#/About" class="waves-effect waves-light dropdown-button navlinks" data-activates="dropdown1" id="sign-up">Sign Up</a></li>

      </ul>
    </div>
  </nav>
  <!--  -->


  <!-- VIEW -->
  <div class= "container row" ng-view></div>
  <!--  -->


  <!-- FOOTER -->
  <footer class="page-footer grey darken-4" style="border-top: solid 48px black;" ng-controller = "User">

      <div class="row">

        <div class="col s1 divider grey darken-4"></div>

        <form class="col s5 card black lighten-3 left" ng-submit="login(user)" onsubmit="setTimeout(function(), 300)">

          <h4 class="login-header">Log in</h4>

          <div class="row card-content white-text login-input-wrap">
            <div class="input-field col s12 white-text">
              <input id="user-name" type="text" class="validate text-white" ng-model="user.username">
              <label for="user-name">Username</label>
            </div>

            <div class="input-field col s12 white-text">
              <input id="password" type="password" class="validate white-text" ng-model="user.password">
              <label for="password">Password</label>
              <span class="grey-text text-lighten-4">First time?&nbsp; <a href="/signup">Sign Up.</a></span>
            </div>

            <div class="row card-content black white-text center">
              <button type="submit" class = "btn waves-effect waves-light">Log In</button>
            </div>

          </div>

        </form>

        <div class="col s1 divider grey darken-4"></div>

        <div class="col s4 card black lighten-3 left">
          <div class = "card-content white-text">
            <h5 class="white-text">Links</h5>

            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>

        </div>

      </div>

    <div class="footer-copyright black">
      <div class="container">
      © 2014 Copyright Joe is Very Awesome
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  <!--  -->

  <!-- VENDOR -->
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/materialize.js"></script>
  <script src="js/vendor/cookies.js"></script>
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/angular-route.js"></script>

  <!-- MAIN -->
  <script src="js/main.js"></script>
  <script src="js/image/image.controller.js"></script>
  <script src="js/image/user.service.js"></script>
  <script src="js/user/user.controller.js"></script>
  <script src="js/image/imagegrp.service.js"></script>
  <script src="js/image/imagegrp.controller.js"></script>
  <script src="js/user/usergrp.controller.js"></script>

</body>
</html>
